project_id = "qezunutqfumuzloarrti"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[studio]
enabled = true
port = 54323

[functions]
[functions.generate-medical-certificate]
verify_jwt = false

[functions.generate-receipt]
verify_jwt = false